@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --standardDropShadow: drop-shadow(1vmin 1vmin 1.5vmin rgb(160, 172, 177));
    --standardBoxShadow: 0.7vmin 0.7vmin rgb(21, 21, 21);
}
* {
    color: white;
    background-color: black;
    font-family: "Press Start 2P", serif;
}
.title-header, .scaling-header, .profile-pic, #about-me h1, #about-me p, .portfolio h1, #portfolio-list, .contact-box{
    padding: 0.5vmin;
    margin: 0.5vmin;
    border-style: solid;
    border-width: 0.01vmin;
    border-radius: 1vmin;
}
/* Top-right Portfolio title */
.title-header {
    position: absolute;
    top: 2%;
    right: 0%;
    font-size: 4vmin;
    box-shadow: var(--standardBoxShadow);
    filter: var(--standardDropShadow);
    transform: rotate(3deg);
}
.scaling-header {
    position: absolute;
    top: 9%;
    right: 10%;
    font-size: 1vmin;
    box-shadow: var(--standardBoxShadow);
    transform: rotate(3deg);
}
/* Top-left Profile pic */
.profile-pic {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10vmin;
    border-radius: 6vmin;
    margin: 2%;
    filter: drop-shadow(0vmin 0vmin 1vmin rgb(160, 172, 177));
}
.content {
    position: absolute;
    top: 10%;
    padding: 2% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0);
}
#about-me {
    background-color: rgba(0, 0, 0, 0);
}
/* Upper centered About me */
#about-me h1 {
    position: relative;
    top: 10%;
    left: 5%;
    margin: 0.5%;
    font-size: 3vmin;
    width: fit-content;
    box-shadow: var(--standardBoxShadow);
    filter: var(--standardDropShadow);
    transform: rotate(-3deg);
}
#about-me p {
    position: relative;
    top: 15%;
    left: 17%;
    width: 80%;
    height: 20%;
    font-size: 1.5vmin;
    word-wrap: break-word;
    box-shadow: var(--standardBoxShadow);
    filter: var(--standardDropShadow);
    overflow-y: auto;
}
.portfolio {
    background-color: rgba(0, 0, 0, 0);
}
/* centered My works/Portfolio */
.portfolio h1 {
    position: relative;
    top: 40%;
    left: 5%;
    margin: 0.5%;
    font-size: 3vmin;
    width: fit-content;
    box-shadow: var(--standardBoxShadow);
    filter: var(--standardDropShadow);
    transform: rotate(-3deg);
}
#portfolio-list {
    position: relative;
    top: 45%;
    left: 17%;
    width: 80%;
    height: 50%;
    box-shadow: var(--standardBoxShadow);
    filter: var(--standardDropShadow);
    overflow-y: auto;
}
.card img {
    position: relative;
    border-style: solid;
    border-color: rgb(181, 181, 181);
    border-width: 0.5vmin;
    box-shadow: var(--standardBoxShadow);
    height: 7vmin;
    filter: grayscale(100%);
    transition: all 0.5s ease;
    border-radius: 1vmin;
    padding: 0vmin;
    margin: 0.5vmin;
}
/* Hover effects for cards*/
.card img:hover {
    filter: grayscale(0%);
    box-shadow: 5px 5px rgb(100, 100, 100);
}
/* Bottom-left Contact Me */
.contact-box {
    position: fixed;
    bottom: 0%;
    left: 0%;
    font-size: 0.8vmin;
    padding: 0vmin 0.5vmin 0vmin 0.5vmin;
    box-shadow: var(--standardBoxShadow);
}
/* Background Video */
.background-video {
    position: absolute;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
/* CSS Animation Data */
.rotate-forthback {
    animation: rotationForthBackTitle 3s infinite alternate ease-in-out;
}
@keyframes rotationForthBackTitle {
    from {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(1deg);
    }
}
.rotate-backforth {
    animation: rotationBackForthH1 3s infinite alternate ease-in-out;
}
@keyframes rotationBackForthH1 {
    from {
        transform: rotate(-10deg);
    }
    to {
        transform: rotate(-1deg);
    }
}
.rotate-infinitely {
    animation: rotationInfinite 7s infinite linear;
}
@keyframes rotationInfinite {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
/* Mobile Responsiveness */
@media screen and (max-width: 500px) {
    .profile-pic {
        height: 10vmin;
        border-radius: 10vmin;
    }
    #about-me h1 {
        font-size: 4vmin;
        margin: 3%;
    }
    #about-me p {
        left: 2%;
        width: 93%;
        height: auto;
        font-size: 2.7vmin;
    }
    .portfolio h1 {
        font-size: 4vmin;
        margin: 3%;
    }
    #portfolio-list {
        left: 2%;
        width: 93%;
        height: auto;
    }
    .card img {
        height: 15vmin;
    }
    .contact-box {
        font-size: 1.7vmin;
    }
}